doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(rel='icon' href='/images/logo.png')
  title NFT Minting
  link(rel='stylesheet' href='/stylesheets/style.css')
// Navigation Bar
.flex.justify-around.items-center.p-2.bg-white
  .flex
    img.w-16(src='/images/logo.png' alt='')
    .flex.justify-around.items-center.mx-5
      a.mr-2.inline-block.text-blue-900.text-3xl(href='') Credo
  .flex.text-xs.justify-center.items-center
    a.mr-4.text-xl.inline-block.text-blue-900(class='hover:text-emerald-500' href='/dashboard') Dashboard
    a.mr-4.text-xl.inline-block.text-blue-900(class='hover:text-emerald-500' href='/users/logout') Signout
  p#account.mr-4.text-xl.inline-block No wallet linked
// Content
.flex.justify-center.items-center
  form.text-center.p-10.text-blue-950.border-2.mt-10(action='/batch/tokenData' method='POST' class='w-1/2')
    h1.text-5xl.mb-5 Split Batch
    label#errorNULL.mb-2.text-2xl.text-red-600.p-2
    .flex-col.text-start.mb-5.gap-2
      .m-2
        label.mb-2.text-2xl.text-black.p-2 Batch Number:
        select#batch_num.p-2.w-96.border.rounded-lg(name='batch_num')
            each number in tokens
             option(value=number.token_id)= number.batch_num
      .m-2
        label.mb-2.text-2xl.text-black.p-2 Sub-Batch Number:
        input#inputBatch.p-2.w-96.border.rounded-lg(type='text' name='sub_batch_num' placeholder='Insert The Batch Number')
      .m-2
        label.mb-2.text-2xl.text-black.p-2.pl-0 Owner Name:
        // <label for="" class="w-96 text-2xl text-black" id="manufacturerName">Pharco Industries</label>
        input#ownerName.p-2.w-96.border.rounded-lg(type='text' name='batch_num' value=name readonly='')
      .m-2
        label.mb-2.text-2xl.text-black.p-2 Recipients:
        select#recipients.p-2.w-96.border.rounded-lg(name='recipients' multiple='' size=2)
            each recipient in recipients
             option(value=recipient.company_name)= recipient.company_name
        
    a#button1.text-2xl.border-2.border-blue-950.rounded-lg.px-4.py-2.text-blue-950.font-bold.mt-10(class='hover:bg-blue-950 hover:text-white hover:cursor-pointer') Create
// Footer
footer.p-8.bg-white.mt-auto
  div
script(src='/javascripts/createSubBatch.js')