head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(rel='stylesheet' href='/stylesheets/style.css')
  title QR Code Scanner

//Navbar
nav.flex.justify-around.items-center.text-xl.p-2.border-b-2
      .flex
        img.w-16(src='/images/logo.png', alt='')
        .justify-around.items-center.mx-5.hidden(class='lg:flex')
          a.mx-2.inline-block(class='hover:text-blue-900', href='/') Home
          a.mx-2.inline-block(class='hover:text-blue-900', href='') About
          a.mr-2.inline-block.text-blue-900(href='/batch') Batch
          
      // Mobile Anchors
      .justify-around.items-center.mx-5.flex(class='lg:hidden')
        a.mr-2.inline-block.text-blue-900(href='') Home
        a.mx-2.inline-block(class='hover:text-blue-900', href='') About
      // Searchbar
      .flex
        .hidden.text-base(class='lg:flex')
          input.p-1.bg-slate-200.rounded-l-lg(type='text', placeholder='Search..', class='focus:outline-none')
          .flex.justify-center.items-center.bg-blue-900.p-1.rounded-r-lg
            i.fa.fa-search.text-white(aria-hidden='true')
        .flex.text-2xl.justify-center.items-center(class='lg:ml-3')
          .mx-1(class='lg:hidden')
            i.fa.fa-search(aria-hidden='true')
          i.fa-brands.fa-twitter.text-blue-500.mx-1(class='hover:cursor-pointer')
          i.fa-brands.fa-facebook.text-blue-800.mx-1(class='hover:cursor-pointer')
          i.fa-brands.fa-instagram.text-pink-600.mx-1(class='hover:cursor-pointer')
// Body
if verified == 'true'
 .flex.justify-center.items-center.m-5
  .border-2.p-10
    .m-2
      img.mx-auto(src='../images/y.png' alt='' width='175px')
    .text-center.m-5
      h1.text-3xl.mb-2 Product is Authentic.
      p.text-xl
        | Batch Number 
        span.font-bold= batch_num
        | .
else 
 .flex.justify-center.items-center.m-5
  .border-2.p-10
    .m-2
      img.mx-auto(src='../images/x.png' alt='' width='175px')
    .text-center.m-5
      h1.text-3xl.mb-2 Product is counterfeit.
      p.text-2xl.mb-1 Please return to pharmacy you bought it from.
      p.tex-lg
        | Report pharmacy by calling this 
        a.underline.cursor-pointer number
        | .


