doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Tracking vitals
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css', integrity='sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==', crossorigin='anonymous', referrerpolicy='no-referrer')
  body
    // Navigation Bar
    .flex.justify-around.items-center.text-xl.p-2.border-b-2
      .flex
        img.w-16(src='/images/logo.png', alt='')
        .justify-around.items-center.mx-5.hidden(class='lg:flex')
          a.mx-2.inline-block(class='hover:text-blue-900', href='/') Home
          a.mx-2.inline-block(class='hover:text-blue-900', href='') About
          a.mr-2.inline-block.text-blue-900(href='/batch') Batch
          
      // Mobile Anchors
      .justify-around.items-center.mx-5.flex(class='lg:hidden')
        a.mr-2.inline-block.text-blue-900(href='') Home
        a.mx-2.inline-block(class='hover:text-blue-900', href='') About
      // Searchbar
      .flex
        .hidden.text-base(class='lg:flex')
          input.p-1.bg-slate-200.rounded-l-lg(type='text', placeholder='Search..', class='focus:outline-none')
          .flex.justify-center.items-center.bg-blue-900.p-1.rounded-r-lg
            i.fa.fa-search.text-white(aria-hidden='true')
        .flex.text-2xl.justify-center.items-center(class='lg:ml-3')
          .mx-1(class='lg:hidden')
            i.fa.fa-search(aria-hidden='true')
          i.fa-brands.fa-twitter.text-blue-500.mx-1(class='hover:cursor-pointer')
          i.fa-brands.fa-facebook.text-blue-800.mx-1(class='hover:cursor-pointer')
          i.fa-brands.fa-instagram.text-pink-600.mx-1(class='hover:cursor-pointer')
      //- Content
    .py-10.flex.justify-center.items-center(class='md:px-[15%]')
      .flex.pb-5.flex-col(class='md:flex-row')
        .pb-5(class='md:border-r-2 md:pr-12 md:pb-0')
          h1.text-4xl.font-semibold.mb-2 Cargo Information
          p.text-2xl
            | Batch Number: 
            span#name.font-extralight
          p.text-2xl
            | Token ID: 
            span(class='font-extralight', id="tokenID")= tokenID
          p.text-2xl.font-extralight
            span.font-normal Owner Data:
            |  Pharco Pharmaceuticals
        div(class='md:pl-12')
          h1.text-4xl.font-semibold.mb-2 Additional Information
          p.text-2xl.font-extralight
            span.font-normal Medicine Name:
            |  Indomethacin
          p.text-2xl.font-extralight
            span.font-normal Departure Date:
            |  25/9/2022
          p.text-2xl.font-extralight.font-mono
            span.font-normal.font-sans Departure Time:
            |  12:53 AM
    .flex.flex-col.justify-center.items-center.gap-8(class='md:px-[15%] md:flex-row')
      .h-72.flex.justify-center.items-center.px-3.py-3.border.shadow-lg(class='md:w-[20%] w-[50%]')
        .flex.flex-col.justify-center.items-center
          img.mb-4(src='/images/temp.png', alt='', class='w-1/2')
          h1.text-3xl.font-thin.mt-auto Temperature
          h2.text-3xl.font-mono.font-extralight 25&deg;C
      .h-72.flex.justify-center.items-center.px-3.py-3.border.shadow-lg(class='md:w-[20%] w-[50%]')
        .flex.flex-col.justify-center.items-center
          img.mb-4(src='/images/humid.png', alt='', class='w-1/2')
          h1.text-3xl.font-thin.mt-auto Humidity
          h2.text-3xl.font-mono.font-extralight 30%
      .h-72.flex.justify-center.items-center.px-3.py-3.border.shadow-lg(class='md:w-[20%] w-[50%]')
        .flex.flex-col.justify-center.items-center
          img.mb-4(src='/images/Pressure.png', alt='', class='w-1/2')
          h1.text-3xl.font-thin.mt-auto Pressure
          h2.text-3xl.font-mono.font-extralight 950 Pa
    .flex.flex-col.justify-center.items-center.py-8
      h1.text-4xl.font-light.mb-4 Current Location
      iframe.border.shadow-lg(src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2341.7942885074845!2d30.063914553979338!3d31.308166948331806!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1526add103b155ef%3A0xed5db8d49172beb5!2sArab%20Academy%20For%20Science%2C%20Technology%20%26%20Maritime%20Transport!5e0!3m2!1sen!2seg!4v1683732620073!5m2!1sen!2seg', style='border:0;', allowfullscreen='', loading='lazy', referrerpolicy='no-referrer-when-downgrade', class='md:w-[50%] w-[80%] h-[400px]')
    // Footer
    footer.section.h-screen.border-t
      div(class='lg:flex px-[10%] pt-[4%]')
        .flex(class='lg:w-1/4 lg:justify-center lg:border-b')
          .flex.flex-col
            h1.font-bold.text-xl.mb-2 Get to Know Us
            a.text-lg.font-light(href='', class='hover:underline') Careers
            a.text-lg.font-light(href='', class='hover:underline') Blogs
            a.text-lg.font-light(href='', class='hover:underline') About Credo
            a.text-lg.font-light.mb-5(href='', class='hover:underline') Investor Relations
        .flex(class='lg:w-1/4 lg:justify-center lg:border-b')
          .flex.flex-col
            h1.font-bold.text-xl.mb-2 Pricing
            a.text-lg.font-light(href='', class='hover:underline') Overview
            a.text-lg.font-light.mb-5(href='', class='hover:underline') Promotions
        .flex(class='lg:w-1/4 lg:justify-center lg:border-b')
          .flex.flex-col
            h1.font-bold.text-xl.mb-2 Legal
            a.text-lg.font-light(href='', class='hover:underline') Terms &amp; Conditions
            a.text-lg.font-light(href='', class='hover:underline') Privacy Policy
            a.text-lg.font-light.mb-5(href='', class='hover:underline') Terms of Use
        .flex(class='lg:w-1/4 lg:justify-center lg:border-b')
          .flex.flex-col
            h1.font-bold.text-xl.mb-2 Contact Us
            a.text-lg.font-light(href='', class='hover:underline')
              i.fa-solid.fa-phone.mr-2.text-md
              | 01222222222
            a.text-lg.font-light(href='', class='hover:underline')
              i.fa-solid.fa-location-dot.mr-2.text-md
              | Al Akademia Al Arabia Al Baharia, Abu Qir
            a.text-lg.font-light.mb-5(href='', class='hover:underline')
              i.fa-solid.fa-envelope.mr-2.text-md
              | info@example.com
      .flex.pt-5(class='px-[10%]')
        img.hidden.border-r(src='/images/newsletter.png', alt='', class='lg:block lg:float-left')
        .flex.flex-col(class='lg:pt-16 lg:pl-6 lg:w-1/3')
          h1.text-2xl.mb-5.font-bold Subscribe to our newsletter
          h2.text-xl.font-light.mb-3
            | Lorem ipsum dolor sit, amet consectetur adipisicing elit. Neque ut sunt eaque repellendus ad a maxime sit molestias corrupti ullam aspernatur hic, optio sint? Perferendis, incidunt.
          input#first_name.mt-2.bg-gray-50.border.border-gray-300.text-gray-900.text-sm.rounded-lg.block.w-56.p-2.mb-2(type='text', class='focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500', placeholder='E-mail', required='')
          button.text-white.bg-blue-800.font-medium.rounded-lg.text-sm.p-2.w-24.mr-2.mb-2(type='button', class='hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800') Sign Up
    script(src='/javascripts/nftTokenRetrieval.js')